/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.new {
    background-color: pink;
}

.deadline {
    /* font-size: 60%; */
    /* font-size: 0.6em; */
    font-size: 0.6vw;
}
.projects {
    display: inline-block;
}
header, footer {
    color: #666;
    background-color: white;
    padding: 5px;
    text-align: center;
}

header {
    font-size: 200%;
}
footer {
    font-size: 90%;
}


main {
    margin: 10px;
    padding: 40px;
    /* border: solid 2px #666; */
    text-align: center;
    font-size: 120%;
    background-image: url("dot_bg.png");
    background-repeat: repeat;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
}


.project {
    display: flex;
    flex-wrap: wrap;
}


.creative {
    padding: 10px;
    width: 33%;
	margin: 1px;
}


a {
    text-decoration: none;
}
.alert {
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.alert-success {
    background: #d1e7dc;
    color: #0f5132;
}
.alert-danger {
    background: #f8d6da;
    color: #842029;
}
dt {
    font-weight: bold;
    color: #354;
    font-size: .9rem;
    margin-bottom: 5px;
    /* float: left; */
}
dd {
    margin-bottom: 10px;
    margin-left: 80px;
}
table {
    border-collapse: collapse;
    
}
th, td {
    padding: 8px 16px;
    border: 1px solid #ddd;
    height: 4px;
    font-size: 1.1vw;
}
th {
    background: #eee;
}

td {
    color: black;
    /* background: #bbb; */
    border-color: #fff;
    border-bottom: 10px solid;

    
}

.register {
    border: 2px solid black;
    margin: 0 auto;
    max-width: 500px;
    display: flex;

}

.btnlink {
    font-size: 1.25rem;
    background-image: linear-gradient(270deg,#40bcff,#67caff);
    border-radius: 1.25rem;
    /* box-shadow: 0 4px 24px rgb(55 79 103 / 8%); */
    box-shadow: 0 4px 24px black;
    color: #fff;
    display: block;
    font-weight: 900;
    line-height: 1;
    margin: auto;
    padding: 1.5rem 2.5rem;
    text-align: center;
    text-decoration: none;
    transition: opacity .3s ease-out,transform .3s ease-out;
}
.header, .footer {
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid;
    border-color: #ecf1f5;
    box-shadow: 0 0 10px black;
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-columns: auto 1fr auto auto;
    justify-content: space-between;
    padding: 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: all .3s;
    z-index: 1;
}
.header__btn {
    grid-column: 4;
}
.btnlink.inline {
    font-size: 1rem;
    border-radius: 12px;
    box-shadow: none;
    display: inline-block;
    padding: 1rem 2rem;
}

.header__link, .edit__link {
    grid-column: 3;
    text-decoration: none;
    color: #5a6977;
    font-weight: 700;
    padding: 4px 0.75rem;
    transition: opacity .3s ease-out;
}

.c_name {
    /* font-size: 1.2em; */
    width: 100%;
    font-size: 1.8vw;
    overflow: hidden;
}

h3 {
    text-align: center;
    background: wheat;
    height: 50px;
    /* width: 80%; */
    margin: 0 auto;
    /* max-width: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.creative__header {
    /* box-shadow: 0 0 48px rgb(147 158 170 / 10%); */
    box-shadow: 0 0 2px black;
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-columns: auto 1fr auto auto;
    /* justify-content: space-between; */
    padding: 1rem;
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0;
    transition: all .3s;
    z-index: 1;
    height: 100px;
}

.deletelink {
    font-size: 1.25rem;
    background-image: linear-gradient(270deg,#40bcff,#67caff);
    border-radius: 1.25rem;
    /* box-shadow: 0 4px 24px rgb(55 79 103 / 8%); */
    box-shadow: 0 4px 24px black;
    color: #fff;
    display: block;
    font-weight: 900;
    line-height: 1;
    margin: auto;
    padding: 1.5rem 2.5rem;
    text-align: center;
    text-decoration: none;
    transition: opacity .3s ease-out,transform .3s ease-out;
}

img {
    height: 40px;
    width: 40px;
}
